////////// ALLIANCES

.slider-row {
  overflow: hidden;
}

.slider {

  img {
    height: 150px;
    width: 100%;
    opacity: 0.8;
//    z-index:1;

    transition: 0.2s opacity ease-in;

    &:hover {
      opacity: 1;
//      transform: scale(1.1, 1.1);
//      z-index: 99;
    }
  }
}

.slide {
  padding:0;

  .img-container {

  }
}
