////////// BANNER HEADING
//brand-heading
.animate-brand-heading {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
//intro-text
.animate-intro-text {
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
//page-scroll
.animate-page-scroll {
  opacity:0;
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}


////////// NAVIGATION BAR
.nav-state {
  display: none;
}

.animate-show-down {
  animation: fadeInDown 1s;
}

.animate-show-down.ng-hide-add,
.animate-show-down.ng-hide-remove {
  display: block !important;
}

.animate-show-down.ng-hide {
  animation: fadeOutUp 1s;
}


/////////// BACK TOP BUTTON
.animate-show-up {
  animation: fadeInUp 1s;
}

.animate-show-up.ng-hide-add,
.animate-show-up.ng-hide-remove {
  display: block !important;
}

.animate-show-up.ng-hide {
  animation: fadeOutDown 1s;
}
