////////// BANNER CONTENT
@mixin introFade($delay, $duration) {
  opacity: 0;
  animation: fadeInUp;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: forwards;
}
//brand-heading
.animate-brand-heading {
  @include introFade(0.5s, 1s);
}
//intro-text
.animate-intro-text {
  @include introFade(1s, 1s);
}
//page-scroll
@keyframes glow {
  0% { opacity:1; }
  50% { opacity:0.3; }
  100% { opacity:1; }
}

//TODO: this isn't a good idea... multiple animation fail...
.animate-page-scroll-A {
  @include introFade(1.5s, 1s);
}
//
//.animate-page-scroll-B {
////  @include introFade(1.5s, 1s);
//  opacity: 0;
//  animation: glow;
//  animation-duration: 2s;
//  animation-delay: 3s;
//  animation-iteration-count: infinite;
//  animation-fill-mode: forwards;
//}


////////// NAVIGATION BAR
.nav-state {
  display: none;
}

.nav-animation {
}

.nav-animation.ng-hide-remove{
  animation: fadeInDown;
  animation-duration: 0.6s;
}

.nav-animation.ng-hide-add {
  animation: fadeOutUp;
  animation-duration: 0.3s;
}

.nav-animation.ng-hide-add,
.nav-animation.ng-hide-remove {
  display: block !important;
}



/////////// BACK TOP BUTTON
.back-top-animation {

}

.back-top-animation.ng-hide-remove {
  animation: fadeInUp;
  animation-duration: 0.6s;
}

.back-top-animation.ng-hide-add {
  animation: fadeOutDown;
  animation-duration: 0.3s;
}

.back-top-animation.ng-hide-add,
.back-top-animation.ng-hide-remove {
  display: block !important;
}


/////////// BRANDS

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container{
  min-height: 900px;
}

.brands {
  position: relative;
}

.animate-ui-view.ng-enter, .animate-ui-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

.animate-ui-view.ng-enter {
  animation: slideInLeft;
  animation-duration: 1s;
  z-index: 8888;
}

.animate-ui-view.ng-enter-active {
}

.animate-ui-view.ng-leave {
  animation: slideOutRight;
  animation-duration: 1s;
  z-index: 9999;
}

.animate-ui-view.ng-leave-active {
}


/////////// CONTACT

.contact-animation {

}

.contact-animation.ng-hide-remove{
  animation: slideInLeft;
  animation-duration: 0.7s;
}

.contact-animation.ng-hide-add{
  animation: fadeOut;
  animation-duration: 0.3s;
}

.contact-animation.ng-hide-remove,
.contact-animation.ng-hide-add {
  display: block !important;
}


////////// SLIDER
.slider-animation {

}

.slider-animation.ng-hide-remove {
  animation: fadeInDown;
  animation-duration: 0.4s;
}

.slider-animation.ng-hide-add {
  animation: fadeOutUp;
  animation-duration: 0.4s;
}

.slider-animation.ng-hide-remove,
.slider-animation.ng-hide-add {
  display: block !important;
}