////////// BANNER HEADING
//brand-heading
.animate-brand-heading {
  animation: fadeInUp 1s;
}
//intro-text
.animate-intro-text {
  animation: fadeInUp 1s;
}
//page-scroll
.animate-page-scroll {
  animation: fadeInUp 1s;
}


////////// NAVIGATION BAR
.nav-state {
  display: none;
}

.animate-show-down {
  animation: fadeInDown 1s;
}

.animate-show-down.ng-hide-add,
.animate-show-down.ng-hide-remove {
  display: block !important;
}

.animate-show-down.ng-hide {
  animation: fadeOutUp 1s;
}


/////////// BACK TOP BUTTON
.animate-show-up {
  animation: fadeInUp 1s;
}

.animate-show-up.ng-hide-add,
.animate-show-up.ng-hide-remove {
  display: block !important;
}

.animate-show-up.ng-hide {
  animation: fadeOutDown 1s;
}
