#cf {
  overflow: hidden;
}

.angular-google-map-container {
  height: 400px;
  z-index: 5;
}

.contact-info {
  position:relative;
  min-height: 300px;
}

.contact-item {
  z-index: 0;
  position: absolute;
}
