<div class="contact-info">

	<!-- mobile nav -->
	<div class="contact-toggle-mobile brands hidden-lg hidden-md">
		<ul class="nav nav-pills">
			<li ng-class="{ active : g.currentContact === 'melb'}" ng-click="g.currentContact = 'melb'"><a href="">Melbourne</a></li>
			<li ng-class="{ active : g.currentContact === 'bris'}" ng-click="g.currentContact = 'bris'"><a href="">Brisbane</a></li>
			<li ng-class="{ active : g.currentContact === 'syd'}" ng-click="g.currentContact = 'syd'"><a href="">Sydney</a></li>
		</ul>
	</div>

	<!-- MELB -->
	<div ng-show="g.currentContact === 'melb'" class="contact-animation contact-item">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<!-- <br> -->

		<p><i class="fa fa-envelope"></i> PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Melbourne VIC 8011
		</p>

		<p>
			<i class="fa fa-phone"></i> +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			<i class="fa fa-send"></i> <a href="mailto:info@lucien.com.au"> info@lucien.com.au</a>
		</p>

		<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
		   opposed to using 'Content here, content here', making it look like readable English.</p>
	</div>


	<!-- BRIS -->
	<div ng-show="g.currentContact === 'bris'" class="contact-animation contact-item">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<!-- <br> -->

		<p><i class="fa fa-envelope"></i> PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Brisbane QLD 8011
		</p>

		<p>
			<i class="fa fa-phone"></i> +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			<i class="fa fa-send"></i> <a href="mailto:info@lucien.com.au"> info@lucien.com.au</a>
		</p>

		<p>Welcome to the Brisbane contact! opposed to using 'Content here, content here', making it look like readable English.</p>
	</div>


	<!-- SYD -->
	<div ng-show="g.currentContact === 'syd'" class="contact-animation contact-item">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<!-- <br> -->

		<p><i class="fa fa-envelope"></i> PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Sydney NSW 8011
		</p>

		<p>
			<i class="fa fa-phone"></i> +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			<i class="fa fa-send"></i> <a href="mailto:info@lucien.com.au"> info@lucien.com.au</a>
		</p>

		<p>Here is come left over contact info for our Sydney location.</p>
	</div>
</div>
