<div class="contact-info">
	<!-- MELB -->
	<div class="melb" ng-show="g.currentContact === 'melb'">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<br>

		<p>PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Melbourne VIC 8011
		</p>

		<p>
			P: +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			E: <a href="mailto:info@lucien.com.au">info@lucien.com.au</a>
		</p>

		<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
		   opposed to using 'Content here, content here', making it look like readable English.</p>
	</div>


	<!-- BRIS -->
	<div class="bris" ng-show="g.currentContact === 'bris'">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<br>

		<p>PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Brisbane QLD 8011
		</p>

		<p>
			P: +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			E: <a href="mailto:info@lucien.com.au">info@lucien.com.au</a>
		</p>

		<p>Welcome to the Brisbane contact! opposed to using 'Content here, content here', making it look like readable English.</p>
	</div>


	<!-- SYD -->
	<div class="syd" ng-show="g.currentContact === 'syd'">
		<h4>CONTACT</h4>
		<!--<br/>Minsk - Head Office</h4>-->
		<br>

		<p>PO Box 21258 <br/>
		   Little Lonsdale Street <br/>
		   Sydney NSW 8011
		</p>

		<p>
			P: +61 7 3266 6468<br/>
			<!--F: +55 4333-4345<br/>-->
			E: <a href="mailto:info@lucien.com.au">info@lucien.com.au</a>
		</p>

		<p>Here is come left over contact info for our Sydney location.</p>
	</div>
</div>
