<div class="demonstration row">
    <div class="col-xs-12">
        <h2>Demonstration?</h2>
    </div>
    <div class='col-sm-7'>
        <p>We have a number of login access portals, suited to the varied type of client, where you can view our services in real time, with live sites.</p>
        <p>Please email <a href="mailto:info@lucien.com.au">info@lucien.com.au</a> to receive a password to the interactive demonstrations, informing us of your place in the event – venue, PCO, committee member, sponsor or corporate organisation.</p>
        <p>We’ll tailor your experience to ensure your sampling the most relevant of our products possible, saving you time and giving you the information you need.</p>
    </div>
    <div class="col-sm-5">
        <img src="images/portal.png" alt="customer login portal">
    </div>
</div>
