<div class="container">
    <!--&lt;!&ndash; WELCOME SECTION &ndash;&gt;-->
    <!--<div id="welcome" class="container">-->
    <!--<div class="row mt centered">-->
    <!--<div class="col-lg-8 col-lg-offset-2">-->
    <!--<h1><b>Spot Free Theme</b></h1>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
    <!--industry's standard dummy text ever since the 1500s.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /row &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->

    <!--&lt;!&ndash; MAC IMAGE &ndash;&gt;-->
    <!--<div class="container">-->
    <!--<div class="row centered">-->
    <!--<div class="col-lg-10 col-lg-offset-1">-->
    <!--<img class="img-responsive" src="images/blacktie-imgs/spot.png" alt="Spot Theme">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!-- BRANDS -->
    <section id="brands"></section>
    <div class="brands">
        <ul class="nav navbar-inverse nav-pills nav-justified">
            <li ng-class="{active : g.brands.digitalposters}"><a ui-sref="main.digitalposters" ng-click="g.updateBrand('digitalposters')">DigitalPosters</a>
            </li>
            <li ng-class="{active : g.brands.eventranet}"><a ui-sref="main.eventranet" ng-click="g.updateBrand('eventranet')">Eventranet</a>
            </li>
            <li ng-class="{active : g.brands.speakersprep}"><a ui-sref="main.speakersprep" ng-click="g.updateBrand('speakersprep')">SpeakersPrep</a>
            </li>
        </ul>
        <!-- STATES -->
        <div class="ui-view-container">
            <div class="animate-ui-view" ui-view></div>
        </div>
    </div>


    <!--&lt;!&ndash; SINGLE PROJECT STANDOUT IMAGE &ndash;&gt;-->
    <!--<div id="sp-standout"></div>-->

    <!--<div class="container">-->
    <!--<div class="row mt centered">-->
    <!--<div class="col-lg-8 col-lg-offset-2">-->
    <!--<h1>More Information</h1>-->
    <!--<ul class="process effect-2" id="process">-->
    <!--<li><img src="images/blacktie-imgs/sp/p01.png"></li>-->
    <!--<li><img src="images/blacktie-imgs/sp/p02.png"></li>-->
    <!--<li><img src="images/blacktie-imgs/sp/p04.png"></li>-->
    <!--<li><img src="images/blacktie-imgs/sp/p03.png"></li>-->
    <!--</ul>-->
    <!--</div>&lt;!&ndash; col-lg-8 &ndash;&gt;-->
    <!--</div>&lt;!&ndash; row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; container &ndash;&gt;-->


    <!-- CALL TO ACTION -->
    <div id="call" in-view="g.midSectionView = $inview">
        <div class="container">
            <div class="row">
                <h3>PaperlessEvents was pleased to be involved in Australia’s largest education technology event.</h3>

                <h3>The EduTECH 2013 National Congress & Exhibition.</h3>

                <div class="col-lg-8 col-lg-offset-2">
                    <p>During the first day of the congress, we set up a video link between the Brisbane Convention and Exhibition Centre and Sal Khan, the founder of the Khan Academy (khanacademy.org), a non-profit, revolutionising education by providing free, world-class education to "anyone, anywhere" in the world.
                    </p>

                    <p>
                        <button type="button" class="btn btn-green btn-lg">Read More...</button>
                    </p>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- Call to action -->
</div>
<!-- container -->

<!-- image overlay -->
<div id="news" parallax="2" parallax-offset="300">
</div>
<!-- news -->

<!-- Restart Container -->
<div class="container">


    <!-- CALL TO ACTION -->
    <div id="call">
        <div class="container">
            <div class="row">
                <h3>THIS IS A CALL TO ACTION AREA</h3>

                <div class="col-lg-8 col-lg-offset-2">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

                    <p>
                        <button type="button" class="btn btn-green btn-lg">Call To Action Button</button>
                    </p>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- Call to action -->


    <!-- SLIDER -->
    <br>
    <!-- resume & alliances toggle -->
    <div class="brands">
        <ul class="nav navbar-inverse nav-pills nav-justified">
            <li ng-click="g.navToggle('resume')" ng-class="{active : g.navToggleItems.resume.visible}">
                <a href="#">Resume</a>
            </li>
            <li ng-click="g.navToggle('demonstration')" ng-class="{active : g.navToggleItems.demonstration.visible}">
                <a href="#">Demonstration</a>
            </li>
            <li ng-click="g.navToggle('alliances')" ng-class="{active : g.navToggleItems.alliances.visible}">
                <a href="">Alliances</a>
            </li>
        </ul>
    </div>
    <br>
    <div class="container navToggle-container">
        <resume class="alliances-animation navToggle-item" ng-show='g.navToggleItems.resume.visible'></resume>
        <demonstration class="alliances-animation navToggle-item" ng-show='g.navToggleItems.demonstration.visible'></demonstration>
    	<slider class="alliances-animation navToggle-item" images="g.slider.images" ng-show="g.navToggleItems.alliances.visible"></slider>
    </div>

<!-- user image overlay -->
	<div class="user-multitouch">
		<img src="../images/user-multitouch-cropped.jpg" alt="user pressing multitouch screen">
	</div>


    <div class="container">
        <div class="row mt">
            <div class="col-lg-12">
                <h1>Stay Connected</h1>

                <p>Join us on our social networks for all the latest updates, product/service announcements and more.
                </p>
                <br>
            </div>
            <!-- col-lg-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->


    <!-- SOCIAL FOOTER -->
    <section id="contact"></section>
    <div id="sf">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 dg social-icon">
                    <h4 class="ml">FACEBOOK</h4>

                    <p class="centered"><a href="http://www.facebook.com/pages/Lucien-Mark"><i
							class="fa fa-facebook"></i></a>
                    </p>

                    <p class="ml hidden-xs hidden-sm">> Become A Friend</p>
                </div>
                <div class="col-xs-4 lg social-icon">
                    <h4 class="ml">TWITTER</h4>

                    <p class="centered"><a href="http://twitter.com/paperlessevent"><i class="fa fa-twitter"></i></a>
                    </p>

                    <p class="ml hidden-xs hidden-sm">> Follow Us</p>
                </div>
                <div class="col-xs-4 dg social-icon">
                    <h4 class="ml">SKYPE</h4>

                    <p class="centered"><a href="skype://ritchie.andrew?call"><i class="fa fa-skype"></i></a>
                    </p>
                    <p class="ml hidden-xs hidden-sm">> Let's Talk</p>
                </div>
                <!--<div class="col-lg-4 dg">-->
                <!--<h4 class="ml">GOOGLE +</h4>-->

                <!--<p class="centered"><a href="#"><i class="fa fa-google-plus"></i></a></p>-->

                <!--<p class="ml">> Add Us To Your Circle</p>-->
                <!--</div>-->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- Social Footer -->

    <!-- CONTACT FOOTER -->
    <div id="cf">
        <div class="container">
            <div class="row">
                <div class="col-md-8 gmap-col">
                    <google-map center="g.map.center" zoom="g.map.zoom" options='{ scrollwheel : false }'>
                        <marker ng-repeat='marker in g.map.markers' coords='marker.coords' click='g.currentContact = marker.name' icon='g.map.markerIcon'>
                        </marker>
                    </google-map>
                </div>
                <!--col-lg-8-->
                <div class="col-md-4" in-view="g.footerView = $inview">
                    <contact-info></contact-info>
                </div>
                <!--col-lg-4-->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- Contact Footer -->
</div>
