<!-- CLIENT INFORMATION -->
<div id="lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 col-lg-offset-1">
				<h3>Digital Posters</h3>
			</div>

			<div class="col-lg-5 col-lg-offset-1 desc">

				<p>Looking for a new way to open up your event program? Want to offer something interactive to your
				   delegates? Ready to break new ground in program formatting? Take something old and make it new again
				   and you have Digitalposter.com.au.</p>

				<p>Historically, speakers allocated to poster sessions in event programs have hung large, paper posters
				   on rows and rows of poster panels or walling, taking up valuable venue space and restricting movement
				   to view during poster sessions or breaks in the program. Whilst not only being terribly congestive,
				   the process also limits interaction from event attendees.</p>

				<p>Instead of printing posters, <a href="http://www.digitalposters.com.au" target="_blank">Digitalposters.com.au</a>
				   utilises seamless programming of presentation
				   upload to collate and construct preprinted posters onto interactive viewing stations on monitors
				   and/or plasma screens. Other attractions include the ability to rank or vote posters, leave feedback
				   and request or leave contact details should delegates wish to interact with the presenter further.
				   The system can also support numerous delegate services in the one module as well as free or paid
				   internet access and downloading of all formats of presentations.<i class="fa fa-reply fa-rotate-90 pull-right hidden-md hidden-sm hidden-xs"></i></p>


			</div>

			<div class="col-lg-4 col-lg-offset-1 desc">

				<p>Digitalposter.com.au personifies the traditional format of speaker poster presentations, but
				   electronifies it for a new way of thinking.</p>

				<h3>Agency Resume</h3>
				<br>
				<h5><b>Team Leader:</b> REBECCA ZEARING</h5>
				<h5><b>Agency Job:</b> WEB DESIGN, WEB DEVELOPMENT</h5>
				<h5><b>Proposal Description:</b></h5>

				<p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
				              one of the more obscure.<br/>Lorem Ipsum passage, and going through the cites of the
				              word in classical literature.</p>

				<p><a href="http://BlackTie.co"><i class="fa fa-link"></i> Visit Site</a></p>

			</div>

		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- dg -->

<!--

Looking for a new way to open up your event program? Want to offer something interactive to your delegates? Ready to break new ground in program formatting? Take something old and make it new again and you have Digitalposter.com.au.

Historically, speakers allocated to poster sessions in event programs have hung large, paper posters on rows and rows of poster panels or walling, taking up valuable venue space and restricting movement to view during poster sessions or breaks in the program. Whilst not only being terribly congestive, the process also limits interaction from event attendees.

Instead of printing posters, Digitalposter.com.au utilises seamless programming of presentation upload to collate and construct preprinted posters onto interactive viewing stations on monitors and/or plasma screens. Other attractions include the ability to rank or vote posters, leave feedback and request or leave contact details should delegates wish to interact with the presenter further. The system can also support numerous delegate services in the one module as well as free or paid internet access and downloading of all formats of presentations.

Digitalposter.com.au personifies the traditional format of speaker poster presentations, but electronifies it for a new way of thinking.

-->