<!-- CLIENT INFORMATION -->
<div id="lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 col-lg-offset-1">
				<h3>Speakersprep</h3>
			</div>

			<div class="col-lg-5 col-lg-offset-1 desc">

				<p>Speakersprep.com, hosted and run by Lucien Mark, is suited to speaker and presentation management of
				   an event. Its purpose is to remove the manual process of presentation upload and editing on site.</p>

				<p>Utilising a web based service prior to the event, the speaker can upload their presentation at any
				   time prior to the start date and edit and alter as needed. Clients and associates can also access
				   this site for download, collation and distribution.</p>

				<p>Presentations can be received in varied formats, including PowerPoint, video and visual
				   editorial.</p>

				<p>The software created to run speakersprep.com centralises on the management of data and information to
				   enable simple and fast reporting, easily identifiable presentations and allow organisers to see
				   general, but concise overviews. By utilising this pre upload service, all presentations are collated,
				   set and prepared for audio visual management and onsite coordination, prior to getting on site. By
				   removing the onsite step of presentation collation and upload, clients will save money, space and
				   time, whilst offering delegates an incredibly fluid and funky audio visual experience to coincide
				   with your established program.</p>
			</div>

			<div class="col-lg-4 col-lg-offset-1 desc">
				<h3>Agency Resume</h3>
				<br>
				<h5><b>Team Leader:</b> REBECCA ZEARING</h5>
				<h5><b>Agency Job:</b> WEB DESIGN, WEB DEVELOPMENT</h5>
				<h5><b>Proposal Description:</b></h5>

				<p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
				              one of the more obscure.<br/>Lorem Ipsum passage, and going through the cites of the
				              word in classical literature.</p>

				<p><a href="http://BlackTie.co"><i class="fa fa-link"></i> Visit Site</a></p>

			</div>

		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- dg -->