<div id="lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 col-lg-offset-1">
				<h3>Evantranet</h3>
			</div>

			<div class="col-lg-5 col-lg-offset-1 desc">

				<p>As the name suggests, Eventranet is designed to bring all related technology driven components of an
				   event together to give users one direct point of access. Not unlike an organisations internal
				   intranet, this product is an events intranet and onsite interactive service for delegates to access
				   all their event digital needs.</p>

				<p>Eventranet is a one stop portal that brings together similar onsite services like message boards,
				   internet access, presentation downloads, event signage and news and presentation feeds are
				   centralised to one station, or one login for the user. This can be done through pods of computers
				   placed around the event or through wireless access for delegates to access.</p>

				<p>A significant feature of Eventranet is the scope it provides an event to expand its advertising and
				   sponsorship opportunities. The product will allow for not only event branding but sponsor branding,
				   logo and advertisement placements, product bios. Creation of alternative sponsorship entitlements and
				   potential new markets to drive procurement may also be realised through less work, yet more advanced
				   and fore thinking solutions.<i class="fa fa-reply fa-rotate-90 pull-right hidden-md hidden-sm hidden-xs"></i></p>


			</div>

			<div class="col-lg-4 col-lg-offset-1 desc">
				<p>The Eventranet product has been developed to integrate with Lucien Marks other products, <a
						href="http://www.digitalposter.com.au" target="_blank">www.digitalposter.com.au</a> and <a
						href="http://www.speakersprep.com.au" target="_blank">www.speakersprep.com.au</a> All three
				   cover some of the most important facets of an event. The delegate interface, the speaker interface
				   and the knowledge sharing interface through
					<a href="http://www.digitalposter.com.au">www.digitalposter.com.au</a>.</p>

				<p>Ultimately, Eventranet provides any event with a modern service to a delegate market that is now
				   smarter, more technically savvy and more connected than ever before. Why not make it easy for
				   everyone and utilise Eventranet at your next event? Its simple really.</p>

				<p>Contact Lucien Mark to find out more about what Eventranet can do for you and your event.</p>

<!-- 				<h3>Agency Resume</h3>
				<br>
				<h5><b>Team Leader:</b> REBECCA ZEARING</h5>
				<h5><b>Agency Job:</b> WEB DESIGN, WEB DEVELOPMENT</h5>
				<h5><b>Proposal Description:</b></h5>

				<p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
				              one of the more obscure.<br/>Lorem Ipsum passage, and going through the cites of the
				              word in classical literature.</p> -->

				<p><a href="#"><i class="fa fa-link"></i> Visit Site</a></p>

			</div>

		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
