<!-- CLIENT INFORMATION -->
<div id="lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 desc">
				<h3>Speakersprep</h3>

				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
				   classical Latin literature from 45 BC, making it over 2000 years old.</p>

				<p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
				   more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of
				   the word in classical literature, discovered the undoubtable source.</p>
			</div>

			<div class="col-lg-4 col-lg-offset-1 desc">
				<h3>Agency Resume</h3>
				<br>
				<h5><b>Team Leader:</b> REBECCA ZEARING</h5>
				<h5><b>Agency Job:</b> WEB DESIGN, WEB DEVELOPMENT</h5>
				<h5><b>Proposal Description:</b></h5>

				<p class="tm">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
				              one of the more obscure.<br/>Lorem Ipsum passage, and going through the cites of the
				              word in classical literature.</p>

				<p><a href="http://BlackTie.co"><i class="fa fa-link"></i> Visit Site</a></p>

			</div>

		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- dg -->