<div>
    <h2>Our Resume</h2>
    <div>
        <p>
            <strong>Company:</strong>Lucien Mark</p>
        <p>
            <strong>Date of birth:</strong>Inception late 2007, developed throughout 2008 and trading live from early 2009
            <br>
            <strong>Service:</strong>Event information technology</p>
        <p>
            <strong>Current clients:</strong>
        </p>
        <ul>
            <li>Engineers Australia
                <strong>
                    <br>
                </strong>
            </li>
            <li>Chemeca 2010</li>
            <li>World Congress of Orthodontics 2010</li>
            <li>Pathways10</li>
            <li>CECAR5</li>
            <li>Heart Foundation</li>
            <li>Asia Pacific Academy of Ophthalmology (
                <em>APAO</em>) Congress</li>
            <li>Society for Sustainable &amp; Environmental Engineering 2011</li>
        </ul>
        <p>
            <strong>Previous clients:</strong>
        </p>
        <ul>
            <li>
                <em>Middle Years of Schooling Australia 2009</em>(conference networking and eventranet)</li>
            <li>
                <em>National Elite Sports Council 2009</em>(post event web cast recording)</li>
            <li>
                <em>Fetus as a Patient 2009</em>(video conferencing session for 200 delegates with speakers from USA &amp; Greece)</li>
            <li>
                <em>World Congress of Pediatric Cardiology and Cardiac Surgery 2009</em>(800 digital posters)</li>
            <li>
                <em>Australian School Business Administrators 2009</em>(invited speakersprep pre-upload)</li>
            <li>
                <em>Society for Sustainable and Environmental Engineering 2009</em>(Full Eventranet services, inc. posters and speakersprep)</li>
            <li>
                <em>Engineering Leadership Conference 2010</em>(Full Eventranet services, inc. posters and speakersprep)</li>
            <li>
                <em>Philips Port Douglas Heart meeting</em>(video conferencing breakfast session with speaker from Spain)</li>
            <li>
                <em>Australian Society for Microbiology 201</em>0 (Internet cafe)</li>
            <li>
                <em>Climate Change 2010</em>(Internet Cafe and EventUSB)</li>
            <li>
                <em>Philips Healthcare</em>(Video conferencing)</li>
        </ul>
        <p>
            <strong>Other major products/services include:</strong>
        </p>
        <ul>
            <li>USB of Proceedings and full papers</li>
            <li>voting and ranking of posters and presentations</li>
            <li>message services</li>
            <li>digital signage and entrance features</li>
            <li>RFID technology</li>
            <li>web casting</li>
            <li>meeting video conferencing, allowing remote conference registration/attendance</li>
            <li>video and audio recording</li>
            <li>Event Radio Stations</li>
            <li>internet and event networks</li>
            <li>audience response systems</li>
            <li>sponsorship and exhibition consultancy</li>
            <li>major event and site consultation</li>
        </ul>
        <p>
            <em>Most services can run over any web enabled device – not just iPhones or iPads – why limit ourselves and have to build separate apps that don’t run flash?!</em>
        </p>
        <p>As a technology company, our products are continually being developed and evolving into very relevant and specific packages. Lucien Mark is capable of tailoring any of its products to clients needs, ensuring flexibility at all times. We encourage the client’s involvement to ensure the right set up for your organisation is achieved, every time. With this in mind we have base products that were developed to expand and modernise traditional methods of program presentation.</p>
        <p>
            <strong>Eventranet:</strong>
            <br>The conduit for the integration of all the services Lucien Mark can offer. From accessing web casting, viewing and downloading of presentations and posters to message board services, delegate/speaker engagement tools and live program feeds similar to tickertape news reels. Do away with satchel inserts and run sponsor ads and banners, trust reliable room and event signage and control the information that is fed in a direct, live format from your registration desk to the delegate. All items that were once printed can now be downloaded and accessed via Eventranet and synched with a sponsored USB stick.</p>
        <p>
            <strong>Digitalposters:</strong>
            <br>This product utilises seamless programming of presentation upload to collate and construct preprinted posters (provided in such formats as powerpoint and keynote and converting them into pdf’s.) onto interactive viewing stations on monitors and/or LCD screens around the venue. Other attractions allow you to rank or vote posters, leave feedback and request or leave contact details should delegates wish to interact with the presenter further and most importantly allow the ability to download the poster onto a USB drive.</p>
        <p>
            <strong>Speakersprep:</strong>
            <br>Much like digitalposters, prior receipt of presentations allows for Lucien to collate the received files into directories to then push over to rooms at the venue. As well as eliminating the onsite hassle of tracking down presenters and last minute worrying, by receiving the presentation through this system means delegates can then access the presentation for download on site via eventranet or post event, online.</p>
        <p>
            <strong>
                <br>
            </strong>
        </p>
    </div>
    <!-- .entry-content -->
</div>
